*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;   
}

.navbar{
 color: grey;
 padding: 15px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

li{
 list-style: none;
 display: inline;
 margin: 0 15px;
 cursor: pointer;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.username{
    font-size: 14px;
    color: rgb(235, 250, 255);
    margin-right: 20px;
    padding: 5px;
   background-color: rgb(127, 219, 255);
   border-radius: 5px;
}

.container{
    display: flex;
}

.rightdiv{
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

p
{
    margin: 20px 0;
    font-size: 18px;
    color: grey;
}
.leftdiv{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 48px;
}

.Laundry{
    color: rgb(127, 219, 255);
}

.btn{
    padding: 10px 20px;
    background-color: rgb(127, 219, 255);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.mainimg
{
    width: 400px;
    border-radius: 10px;
}